backend_flow.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"febf8d9e.3992d","type":"websocket out","z":"f6f2187d.f17ca8","name":"","server":"93cd8018.ce11a","client":"","x":530,"y":300,"wires":[]},{"id":"a706b137.6c98c","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"temp","qos":"0","datatype":"auto","broker":"b350f43e.586c98","x":140,"y":300,"wires":[["ac16f7eb.b3b868","febf8d9e.3992d","8aff4574.2753c8"]]},{"id":"ac16f7eb.b3b868","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"2287aa54.0d4aa6","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/temp_data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["b54a321.09951d"]]},{"id":"11a1df3f.4fe9a1","type":"http response","z":"f6f2187d.f17ca8","name":"temp_data_resp","statusCode":"","headers":{},"x":1160,"y":600,"wires":[]},{"id":"8aff4574.2753c8","type":"file","z":"f6f2187d.f17ca8","name":"","filename":"data_dump","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":360,"y":380,"wires":[[]]},{"id":"b54a321.09951d","type":"file in","z":"f6f2187d.f17ca8","name":"data dump read","filename":"data_dump","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":380,"y":600,"wires":[["defb14fe.ad7478"]]},{"id":"d1380ea1.56183","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"str","pretty":false,"x":790,"y":600,"wires":[["70857d56.62f624"]]},{"id":"70857d56.62f624","type":"change","z":"f6f2187d.f17ca8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":600,"wires":[["11a1df3f.4fe9a1"]]},{"id":"defb14fe.ad7478","type":"split","z":"f6f2187d.f17ca8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":700,"wires":[["c0babedd.c8463"]]},{"id":"c0babedd.c8463","type":"join","z":"f6f2187d.f17ca8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":700,"wires":[["ce1109a0.d34818"]]},{"id":"ce1109a0.d34818","type":"function","z":"f6f2187d.f17ca8","name":"empty str remove","func":"msg.payload.pop(); // remove last empty str \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":700,"wires":[["d1380ea1.56183"]]},{"id":"810ebb1f.c90748","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":790,"y":260,"wires":[["b12421fc.c645b"]]},{"id":"b12421fc.c645b","type":"exec","z":"f6f2187d.f17ca8","command":"[[ -f data_dump ]] || touch data_dump","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1080,"y":260,"wires":[[],[],[]]},{"id":"a727ba05.601318","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/temp_data","method":"delete","upload":false,"swaggerDoc":"","x":610,"y":120,"wires":[["6b0cbe1e.042a2"]]},{"id":"a2cc3ea0.79434","type":"change","z":"f6f2187d.f17ca8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":200,"wires":[["8905c51a.5380f8"]]},{"id":"8905c51a.5380f8","type":"http response","z":"f6f2187d.f17ca8","name":"temp_data_resp","statusCode":"","headers":{},"x":1720,"y":200,"wires":[]},{"id":"1db900db.52272f","type":"http response","z":"f6f2187d.f17ca8","name":"del_data_resp","statusCode":"","headers":{},"x":1220,"y":120,"wires":[]},{"id":"ac5c1491.307bc8","type":"change","z":"f6f2187d.f17ca8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, DELETE, OPTIONS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":120,"wires":[["1db900db.52272f"]]},{"id":"6b0cbe1e.042a2","type":"file","z":"f6f2187d.f17ca8","name":"","filename":"data_dump","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":830,"y":120,"wires":[["ac5c1491.307bc8","b12421fc.c645b"]]},{"id":"93cd8018.ce11a","type":"websocket-listener","path":"","wholemsg":"false"},{"id":"b350f43e.586c98","type":"mqtt-broker","name":"default","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
