backend_flow.json
[{"id":"a7900571.a052e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e758cdc2.87cbe","type":"websocket out","z":"a7900571.a052e8","name":"","server":"93cd8018.ce11a","client":"","x":550,"y":240,"wires":[]},{"id":"151d7faa.6db38","type":"mqtt in","z":"a7900571.a052e8","name":"","topic":"temp","qos":"0","datatype":"auto","broker":"b350f43e.586c98","x":160,"y":240,"wires":[["77e09d09.3e2744","e758cdc2.87cbe","6bd11c09.e45d24"]]},{"id":"77e09d09.3e2744","type":"debug","z":"a7900571.a052e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":60,"wires":[]},{"id":"d49d25b.610d4d8","type":"http in","z":"a7900571.a052e8","name":"","url":"/temp_data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":520,"wires":[["41702392.22169c"]]},{"id":"319ca2c1.91bcfe","type":"http response","z":"a7900571.a052e8","name":"temp_data_resp","statusCode":"","headers":{},"x":1180,"y":520,"wires":[]},{"id":"6bd11c09.e45d24","type":"file","z":"a7900571.a052e8","name":"","filename":"data_dump","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":380,"y":320,"wires":[[]]},{"id":"41702392.22169c","type":"file in","z":"a7900571.a052e8","name":"data dump read","filename":"data_dump","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":400,"y":520,"wires":[["55f3182d.da6ee8"]]},{"id":"5f2ec0ec.e24d8","type":"json","z":"a7900571.a052e8","name":"","property":"payload","action":"str","pretty":false,"x":810,"y":520,"wires":[["426e4b02.5bdfd4"]]},{"id":"426e4b02.5bdfd4","type":"change","z":"a7900571.a052e8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.access-control-allow-origin","pt":"msg","to":"*","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Methods","pt":"msg","to":"POST, GET, OPTIONS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["319ca2c1.91bcfe"]]},{"id":"55f3182d.da6ee8","type":"split","z":"a7900571.a052e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":620,"wires":[["aaf252b1.4017"]]},{"id":"aaf252b1.4017","type":"join","z":"a7900571.a052e8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":620,"wires":[["e417c8f.f985838"]]},{"id":"e417c8f.f985838","type":"function","z":"a7900571.a052e8","name":"empty str remove","func":"msg.payload.pop(); // remove last empty str \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":620,"wires":[["5f2ec0ec.e24d8"]]},{"id":"93cd8018.ce11a","type":"websocket-listener","path":"","wholemsg":"false"},{"id":"b350f43e.586c98","type":"mqtt-broker","name":"default","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]